.add-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-text {
  font-size: 30px;
  font-weight: bold;
}

.add-button {
  height: 30px;
  width: 100px;
}
